## 07 MINJI

In [63]:
import pandas as pd
import numpy as np

In [64]:
df= pd.read_csv('7_heart.csv') #파일 불러오기

In [65]:
df.head() #데이터 확인하기 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   sex        297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [66]:
df.isnull().sum()#결측치 확인하기

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [67]:
df.nunique()  #고유값 확인

age           41
sex            2
cp             4
trestbps      50
chol         152
fbs            2
restecg        3
thalach       91
exang          2
oldpeak       40
slope          3
ca             4
thal           3
condition      2
dtype: int64

In [ ]:
numerical_cols = [] #범주형과 연속형 분류
categorical_cols = []
for col in df.columns:
    if df[col].dtype in ['int64', 'float64']:  # 숫자 타입인 경우에
        if df[col].nunique() < 15:  # 고유값이 15개 미만이면 범주형 취급
            categorical_cols.append(col)
        else:
            numerical_cols.append(col)
    else:  # 문자 타입이면 무조건 범주형
        categorical_cols.append(col)

print(numerical_cols)
print(categorical_cols)

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'condition']

In [69]:
for col in numerical_cols: #IQR(사분위 범위)로 이상치 제거 
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[col] = df[col].clip(lower=lower, upper=upper)

In [70]:
from sklearn.preprocessing import OneHotEncoder #범주형 컬럼 인코딩

ohe = OneHotEncoder(sparse_output=False) #원핫 인코딩을 통해 범주형 칼럼 인코딩 진행 (순서 상관 없는 칼럼들 )
encoded = ohe.fit_transform(df[categorical_cols])

df_encoded = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(categorical_cols))
df = pd.concat([df.drop(columns=categorical_cols), df_encoded], axis=1)

In [71]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [72]:
# 중복 데이터 확인
df.duplicated().sum()

# 중복 데이터 제거
df.drop_duplicates(inplace=True)

In [73]:
df.head()

,age,trestbps,chol,thalach,oldpeak,sex_0,sex_1,cp_0,cp_1,cp_2,...,slope_2,ca_0,ca_1,ca_2,ca_3,thal_0,thal_1,thal_2,condition_0,condition_1
0,0.833333,0.868421,0.436364,0.400844,0.025,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.833333,0.605263,0.456566,0.569620,0.450,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.770833,0.736842,0.404040,0.257384,0.650,1.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.750000,0.578947,0.630303,0.763713,0.350,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.729167,0.210526,0.343434,0.510549,0.450,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
df.info() #데이터 정보 확인하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          297 non-null    float64
 1   trestbps     297 non-null    float64
 2   chol         297 non-null    float64
 3   thalach      297 non-null    float64
 4   oldpeak      297 non-null    float64
 5   sex_0        297 non-null    float64
 6   sex_1        297 non-null    float64
 7   cp_0         297 non-null    float64
 8   cp_1         297 non-null    float64
 9   cp_2         297 non-null    float64
 10  cp_3         297 non-null    float64
 11  fbs_0        297 non-null    float64
 12  fbs_1        297 non-null    float64
 13  restecg_0    297 non-null    float64
 14  restecg_1    297 non-null    float64
 15  restecg_2    297 non-null    float64
 16  exang_0      297 non-null    float64
 17  exang_1      297 non-null    float64
 18  slope_0      297 non-null    float64
 19  slope_1      297 non-null    float64
 20  slope_2      297 non-null    float64
 21  ca_0         297 non-null    float64
 22  ca_1         297 non-null    float64
 23  ca_2         297 non-null    float64
 24  ca_3         297 non-null    float64
 25  thal_0       297 non-null    float64
 26  thal_1       297 non-null    float64
 27  thal_2       297 non-null    float64
 28  condition_0  297 non-null    float64
 29  condition_1  297 non-null    float64
dtypes: float64(30)
memory usage: 69.7 KB

In [ ]:
print(df.isnull().mean())#결측치 비율 다시 확인하기

age            0.0
trestbps       0.0
chol           0.0
thalach        0.0
oldpeak        0.0
sex_0          0.0
sex_1          0.0
cp_0           0.0
cp_1           0.0
cp_2           0.0
cp_3           0.0
fbs_0          0.0
fbs_1          0.0
restecg_0      0.0
restecg_1      0.0
restecg_2      0.0
exang_0        0.0
exang_1        0.0
slope_0        0.0
slope_1        0.0
slope_2        0.0
ca_0           0.0
ca_1           0.0
ca_2           0.0
ca_3           0.0
thal_0         0.0
thal_1         0.0
thal_2         0.0
condition_0    0.0
condition_1    0.0
dtype: float64

In [ ]:
input_file ='7_heart.csv'
output_file = df.(input_file)